/* 
    Document   : menu
    Created on : Jun 14, 2013, 9:37:00 AM
    Author     : xuefei
    Description:
        Purpose of the stylesheet follows.
*/




.side-page#menu {
  right: 0;
  background: url("../images/bg-menu.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  display: none;
}

.side-page .side-page-container#menu-container {
  height: 100%;
  position: relative;
  top: 14px;
  left: 9px;
  width: 270px;
}

.page-container .mask {
  z-index: 3001;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
}

.page-container .mask.fadeIn {
  -webkit-animation: fadeToDotNine 0.15s;
  animation: fadeToDotNine 0.15s;
  -webkit-animation-fill-mode: forwards;
}

.page-container .mask.fadeOut {
  -webkit-animation: fadeOutFromDotNine 0.15s;
  animation: fadeOutFromDotNine 0.15s;
  -webkit-animation-fill-mode: forwards;
}

.side-page-container#menu-container .profile-pic-container {
  height: 109px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 10px 1px #444;
  box-shadow: inset 0 0 10px 1px #444;
  background-size: cover;
  background-position: center;
  background-size: 70px 70px;
  background-image: url("../images/placeholder.png");
  background-repeat: no-repeat;
  background-color: #D4D4D4;
  width: 267px;
  position: relative;
}

.side-page-container#menu-container .profile-pic-container .menu-name-ribbon {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(0,0,0,0.6);
  height: 33px;
}

.side-page-container#menu-container .profile-pic-container .menu-name-ribbon span {
  color: white;
  position: absolute;
  font-size: 16px;
  left: 10px;
  top: 6px;
  text-shadow: -1px 0px 1px #000;
}

.side-page-container#menu-container .profile-pic-container .menu-name-ribbon span#person {
  position: absolute;
  left: 236px;
  top: 4px;
  width: 24px;
  height: 24px;
  background-image: url("../images/menu-icon-person.png");
  display: inline-block;
  background-size: 200%;
}

.side-page-container#menu-container .buttons-wrapper {
  margin-top: 6px;
  margin-left: -5px;
}

.buttons-wrapper .menu-button {
  background-size: 200% 100%;
  width: 275px;
  height: 60px;
  position: relative;
}

.buttons-wrapper .menu-button#my-matches-button {
  float:right;
}

.buttons-wrapper .menu-button#match-pref-button {
  margin-top: -4px;
}

.buttons-wrapper .menu-button span {
  color: #909090;
  font-size: 17px;
  left: 53px;
  position: absolute;
  top: 20px;
}

.buttons-wrapper .menu-button.main-button {
  width: 135px;
  height: 110px;
  display: inline-block;
}

.buttons-wrapper .menu-button.main-button span {
  left: 4px;
  width: 128px;
  text-align: center;
  top: 70px;
}

.side-page-container#menu-container .footer-container {
  position: absolute;
  bottom: 22px;
  text-align: center;
  width: 100%;
}

.side-page-container#menu-container .footer-container span {
  font-size: 12px;
}



